* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* bootstrap */
/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.header .container a, .navbar li a {
    color: #fff;
}
.header .container {
    width: 100%;
    height: 60px; 
    padding: 20px 60px;
    background-color: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.container .main-a {
    font-size: 25px;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}
.navbar a {
    font-size: 20px;
}
.navbar li:hover{
    background-color: gray;
    padding: 18px;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:767px) {
    .header .container {
        height: 80px; 
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar a {
        font-size: 14px;
    }
    .container .main-a {
        font-size: 15px;
        text-align: center;
    }
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}
/* start hero */
.hero {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #fff;
}
.hero .img-container {
    width: 200px;
    height: 200px; 
    border-radius: 50%;   
    margin-top: 100px;
    background-color: #2c3e50;
    position: relative;
}
.hero .img-container img {
    position: absolute;
    top: 1px;
    border-radius: 107px;
}
.hero h1 {
    text-transform: uppercase;
    font-size: 40px;
}
.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.icon .one, .icon .two {
    width: 100px;
    height: 3px;
    background-color: #fff;
}
.info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.info p {
    text-transform: capitalize;
}
@media (min-width:300px) and (max-width:767px) {
    .hero h1 {
        text-transform: uppercase;
        font-size: 20px;
    }
    .icon .one, .icon .two {
        width: 50px;
        height: 3px;
        background-color: #fff;
    }
    .hero .img-container {
        width: 100px;
        height: 100px; 
        position: relative;
    }
    .hero .img-container img {
        width: 90px;
        position: absolute;
        top: 11px;
        border-radius: 48px;
        left: 5px;
    }
}
/* end hero */
/* start portfolio */
.portfolio {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin-top: 20px;
}
.portfolio h2 {
    text-transform: uppercase;
    font-size: 40px;
}
.container-image {
    width: 800px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-image img {
    width: 200px;
} 
@media (min-width:300px) and (max-width:767px) {
    .container {
        height: max-content;
    }
    .container-image img {
        width: 180px;
    } 
    .container-image {
        width: 100%;
        height: max-content;
        gap: 10px;
        justify-content: center;
    }
    .portfolio h2 {
        font-size: 20px;
    }

}
/* end  portfolio */
/* start about */
.about {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    background-color: #1abc9c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
}
.about h2 {
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 28px;
}
.paragraph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.paragraph p {
   max-width: 400px;
   font-size: 20px;
   margin: 0;
}
.button {
    position: relative;
}
.button i {
    position: absolute;
    top: 23px;
    left: 20px;
}
.btn {
    padding: 20px 30px 20px 40px;
    border-radius: 8px;
    border: 1px solid #fff;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    text-transform: capitalize;
}
@media (min-width:300px) and (max-width:767px) {
    .container {
        height: max-content;
    }
    .paragraph {
        gap: 20px;
    }
    .about h2 {
        font-size: 20px;
    }
    .button i {
        left: 10px;
    }
    .btn {
        padding: 20px 30px;
        font-size: 15px;
        margin-bottom: 5px;
    }
}
@media (min-width: 768px) {
    .paragraph {
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
    }
}
/* end about */
/* start contact */
.contact{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.contact h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 20px;
}
.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
.form input {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.form textarea {
    border: none;
    border-bottom: 1px solid #ccc;
}
.form button {
    width: 25%;
    background-color: #1abc9c;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
}
@media (min-width:300px) and (max-width:767px) {
    .contact h2 {
        font-size: 20px;
    }
    .form {
        width: 100%;
        font-size: 15px;
        gap: 10px;
    }
    .form input, .form label, .form textarea, .form span, .form button {
        width: 80%;
        margin: 0 10%;
    }
}
/* end contact */
/* start footer */
.footer-container {
    width: 100%;
    height: 350px;
    background-color: #2c3e50;
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.footer-container h3 {
    text-transform: uppercase;
    font-size: 30px; 
}
.footer-container .left-side {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-container .left-side .content  p {
    text-transform: capitalize;
    max-width: 300px;
}
.content .second-p {
    text-align: center;
}

.footer-container .center-side {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 130px;
    gap: 20px;
}
.center-side .social {
    display: flex;
    justify-content: space-between;
    width: 180px;
}
.center-side .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    text-decoration: none;
}
.center-side .social a i {
    color: #fff;
}
.footer-container .right-side {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3px;
}
.right-side p {
    max-width: 350px;
    word-spacing: 5px;
    font-size: 20px;
}
.right-side p a {
    color: #1abc9c;
}
.copy-right {
    width: 100%;
    height: 60px;
    background-color: #1a252f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right p {
    font-size: 20px;
    padding-right: 20px;
}
@media (min-width:300px) and (max-width:767px) {
     .container {
        width: 100%;
    }
    .footer-content {
        width: 100%;
    }
    .footer-container {
        gap: 20px;
        justify-content: center;
    }
    .footer-container .center-side {
        justify-content: center;
        padding-left: 0;
    }
    .center-side h3, .left-side h3, .right-side h3 {
        font-size: 20px;
    }
    .footer-container .right-side {
        justify-content: center;
    }
    .right-side p {
        font-size: 14px;
        padding: 0;
        text-align: center;
    }
    .copy-right {
        height: 40px;
    }
    .copy-right p {
        font-size: 14px;
        padding: 20px;
        text-align: center;
    }
}
/* end footer */
